@charset "utf-8";@import url('./fonts.css');*{margin:0;padding:0;text-decoration:none;}
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top5{margin-top:5px;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top25{margin-top:25px;}
.top30{margin-top:30px;}
.top35{margin-top:35px;}
.top40{margin-top:40px;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top100{margin-top:100px;}
.top105{margin-top:105px;}
.top120{margin-top:120px;}
.top120{margin-top:120px;}
.top170{margin-top:170px;}
.top175{margin-top:175px;}
.top195{margin-top:195px;}
.top240{margin-top:240px;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left130{margin-left:130px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right130{margin-right:130px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt170{padding-top:170px;}
.pt300{padding-top:300px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}
.container{max-width:480px;}
.input100{width:100% !important;}
body{font-weight:400;font-family:'Lato', sans-serif;}
h1{font-size:17px;color:#000;}
h1 span{}
h2{font-size:17px;color:#fff;}
h2 span{font-size:15px;}
h3{font-size:20px;color:#192b39;font-family:"Lato Black";}
h3 span{}
h4{font-size:16px;color:#000;font-family:"Lato Black";}
h4 span{}
h5{font-size:25px;font-family:"Lato Black";color:#192b39;}
h5 span{}
h6{font-size:22px;font-weight:100;color:#192b39;line-height:25px;}
h6 span{font-family:"Lato Black";}
p{color:#000;font-size:15px;text-align:justify;}
p span{font-size:15px;font-weight:400;}
.font_futura{font-family:'futura__condensed';}
.lato_black{font-family:"Lato Black";}
.lato_bold{font-family:"Lato Bold";}
.MyriadPro_Regular{font-family:'MyriadPro-Regular';}
.media-left,
.media-right,
.media-body{vertical-align:middle !important;}
.padding0{padding:0px;}
.relativo{position:relative;}
a:hover{text-decoration:none;}
.btn{border-radius:0;}
.media{margin-top:0px;}
input,
select,
textarea{min-height:42px;color:#000;border-radius:0 !important;font-size:20px;}
:-moz-placeholder{color:#000;font-family:"Lato Bold";font-size:20px;}
::-moz-placeholder{color:#000;font-family:"Lato Bold";font-size:20px;}
:-ms-input-placeholder{color:#000;font-family:"Lato Bold";font-size:20px;}
.btn{border-radius:0px;}
.topo_geral{background:#e5e5e5;}
.menu_topo h4,.menu_topo p{font-size:17px;color:#283239;}
.fundo_azul{background:#192b39;}
#appearance-select1{cursor:pointer;-webkit-appearance:none;-moz-appearance:none;color:#fff;appearance:none;border-radius:0;background:url(../imgs/arrow_drown.png) no-repeat #192b39;background-position:190px center;height:40px;border:0px;}
#appearance-select1 option{padding: 10px;}
.select-menu{background:url(../imgs/menu_topo.png) center no-repeat;-moz-appearance:none;-webkit-appearance:none;appearance:none;margin-left:-2px;padding-top:10px;font-size:13px;border:0 !important;}
.topo-meu-orcamento{background:#fff;width:470px;padding:0px 10px;}
.btn_carrinho,
.btn_carrinho:hover,
.btn_carrinho:focus{padding:0;border:0;overflow:inherit;background:none;}
.dropdown-menu.pull-right{right:22px;}
.lista-itens-carrinho h1{font-size:13px;}
.menu_cat li a{overflow:hidden;width:107px;height:80px;text-align:center;font-size:12px;line-height:15px;color:#3c3834;background:url(../imgs/barra_lateral_topo.png) left 15px no-repeat;padding:16px;margin-top:-4px;}
.menu_cat li a:hover{margin-top:-4px;height:80px;background:#e2cd2d url(../imgs/barra_lateral_topo.png) left no-repeat;}
.menu_cat li a img{margin-bottom:6px;}
.menu_cat .dropdown a,
.menu_cat .dropdown a:hover{padding:0;overflow:inherit;margin-right:-15px;margin-top:-5px;}
.btn_azul{border-radius:0px;font-size:15px;width:auto;height:auto;padding:8px 15px;margin-right:0;background:#0c151c;color:#fff;}
.topo-meu-orcamento{background:#fff;width:310px;right:22px;margin-right:-4px;padding:10px;}
.menu li a{font-size:15px;color:#373435;}
.menu .navbar-nav > li > a{margin-right:29px;padding:28px 1px 2px 1px;}
.menu li:hover a,.menu li.active a,.menu li a:focus{border-bottom:4px solid #373435;background:none;}
.borda_carrinho{border-bottom:1px solid #ffe51d;}
.bg-fundo-preto{position:relative;background:#000;}
.bg-fundo-preto p{color:#fff;font-weight:300;padding:10px 0px;text-align:center;font-size:20px}
.container_banner_faixa{width:100%;height:50px;background:url(../imgs/faixa-slider.png) top center no-repeat;position:absolute;bottom:-1px;z-index:10;}
.carroucel-home .carousel{height:300px;}
.carroucel-home .carousel-caption{text-align:left;z-index:10;bottom:0px;}
.carroucel-home .carousel .item{height:336px;}
.carroucel-home .carousel-inner > .item > img{position:absolute;top:0;left:0;width:100%;height:336px;}
.carroucel-home{position:relative;margin-top:-1px;}
.carroucel-home .carousel-caption{top:10px;right:0px;left:0px;}
.carroucel-home .carousel-indicators{position:absolute;top:318px;left:68%;z-index:20;width:22%;}
.carroucel-home li{opacity:0.5;width:0px;height:0px;margin:2px !important;background:#000;border:0px;}
.carroucel-home li.active{opacity:1;width:0px;height:0px;margin:2px !important;background:#000;border:0px;}
.carroucel-home .carousel-control{opacity:1;color:#fff;font-size:30px;top:313px;width:0%;z-index:999;}
.carroucel-home{position:relative;}
.carroucel-home span.fa-angle-right{right:173px;color:#000;position:absolute;}
.carroucel-home span.fa-angle-left{left:162px;color:#000;position:absolute;}
.carroucel-home .carousel-control:hover{color:#000;opacity:0.5;}
.slider-parceiros-clientes{height:377px;}
#carousel-example-generic-equipe .carousel-indicators,
.slider-parceiros-clientes .carousel-indicators{bottom:-50px;}
#carousel-example-generic-equipe .carousel-indicators li,
.slider-parceiros-clientes .carousel-indicators li{width:20px;height:20px;background:#8c959c;border:none;margin-right:5px !important;}
#carousel-example-generic-equipe .carousel-indicators .active,
.slider-parceiros-clientes .carousel-indicators .active{background:#192b39;margin:1px;}
#carousel-example-generic-equipe .carousel-control.left,
#carousel-example-generic-equipe .carousel-control.right,
.slider-parceiros-clientes .carousel-control.left,
.slider-parceiros-clientes .carousel-control.right{background:none;}
#carousel-example-generic-equipe .carousel-control.left,
.slider-parceiros-clientes .carousel-control.left{left:460px;top:inherit;bottom:-47px;width:25px;height:25px;z-index:100;}
#carousel-example-generic-equipe .carousel-control.right,
.slider-parceiros-clientes .carousel-control.right{right:460px;top:inherit;bottom:-61px;width:40px;height:40px;z-index:100;}
#carousel-example-generic-equipe .fa-chevron-left,
#carousel-example-generic-equipe .fa-chevron-right,
.slider-parceiros-clientes .fa-chevron-left,
.slider-parceiros-clientes .fa-chevron-right{font-size:20px;color:#000;}
.lista_parceiros_clientes h1{font-size:17px;font-weight:300;margin:0;overflow:hidden;height:36px;}
.lista_parceiros_clientes p{font-size:15px;font-weight:400;overflow:hidden;height:42px;}
.lista_parceiros_clientes .thumbnail{border-radius:0;}
.lista_parceiros_produtos h1{font-size:25px;font-weight:300;margin:0;overflow:hidden;height:54px;}
.lista_parceiros_produtos p{font-size:15px;font-weight:400;overflow:hidden;height:82px;}
.produtos_cat .thumbnail{margin-bottom:10px;}
.produtos_cat h1{overflow:hidden;height:20px;}
.produtos_cat p{overflow:hidden;height:20px;}
.lista_parceiros_produtos .thumbnail{border-radius:0;}
.group4{z-index:99999;cursor:-webkit-zoom-in;}
.slider_produtos_banheiras{height:377px;}
#carousel-example-generic-banherias .carousel-indicators{bottom:-50px;}
#carousel-example-generic-banherias .carousel-indicators li{width:20px;height:20px;background:#8c959c;border:none;margin-right:5px !important;}
#carousel-example-generic-banherias .carousel-indicators .active{background:#192b39;margin:1px;}
#carousel-example-generic-banherias .carousel-control.left,
#carousel-example-generic-banherias .carousel-control.right,
.slider_produtos_banheiras .carousel-control.left,
.slider_produtos_banheiras .carousel-control.right{background:none;}
#carousel-example-generic-banherias .carousel-control.left,
.slider_produtos_banheiras .carousel-control.left{left:460px;top:inherit;bottom:-47px;width:25px;height:25px;z-index:100;}
#carousel-example-generic-banherias .carousel-control.right,
.slider_produtos_banheiras .carousel-control.right{right:460px;top:inherit;bottom:-61px;width:40px;height:40px;z-index:100;}
#carousel-example-generic-banherias .fa-chevron-left,
#carousel-example-generic-banherias .fa-chevron-right,
.slider_produtos_banheiras .fa-chevron-left,
.slider-parceiros-clientes .fa-chevron-right{font-size:20px;color:#000;}
.lista_parceiros_clientes h1{font-size:17px;font-weight:300;margin:0;overflow:hidden;height:36px;}
.lista_parceiros_clientes p{font-size:15px;font-weight:400;overflow:hidden;height:42px;}
.lista_parceiros_clientes .thumbnail{border-radius:0;}
.group4{z-index:99999;cursor:-webkit-zoom-in;}
.barra_home{width:100%;border:8px solid #192b39;}
.btn_saiba_mais_produtos{font-size:13px;color:#fff;background:#192b39;padding:6px 21px;text-shadow:5px 4px 3px #000000;font-family:'futura__condensed';}
.btn_saiba_mais_produtos:hover{color:#fff;background:#041925;}
.btn_saiba_produtos_dentro{font-size:20px;color:#fff;background:#192b39;padding:12px 21px;text-shadow:5px 4px 3px #000000;}
.formas blockquote{padding:5px 7px;margin:0 0 0px;border-left:8px solid #192b39;}
.btn_saiba_produtos_dentro:hover{color:#fff;background:#041925;}
.btn_saiba_mais_home{font-size:15px;color:#000;background:none;}
.btn_saiba_mais_home:hover{color:#b0afb5;}
.bg_empresa_home{background:url(../imgs/bg_empresa_home.jpg) top center no-repeat;height:403px;}
.conheca_mais_home{overflow:hidden;max-height:145px;}
.saiba_mais{position:absolute;right:38px;top:277px;z-index:9999;}
.saiba_mais_empresa{position:absolute;right:38px;top:176px;z-index:9999;}
.saiba_mais_fale{position:absolute;right:38px;top:48px;z-index:9999;}
.mapa_home{margin-top:37px;}
.conheca_mais_home p{font-size:15px;}
.btn_conheca_mais{font-size:20px;font-weight:400;color:#000;border:1px solid #000;}
.btn_conheca_mais:hover{background:#d5d5d5;}
.btn_dicas_home{font-size:14px;font-family:"Lato Bold";color:#192b39;border-radius:4px;border:1px solid #192b39;padding:10px 12px;}
.btn_dicas_home:hover{background:#afaead;}
.conheca_home h1{font-weight:100;font-size:20px;color:#192b39;}
.conheca_home h1 span{font-family:"Lato Black";}
.contatos_home h2{font-family:"Lato Black";color:#192b39;}
.contatos_home h2 span{font-family:'Lato', sans-serif;}
.effect2{position:relative;}
.effect2:before, .effect2:after{z-index:-1;position:absolute;content:"";bottom:15px;left:10px;width:50%;top:80%;max-width:300px;background:#777;-webkit-box-shadow:0 15px 10px #777;-moz-box-shadow:0 15px 10px #777;box-shadow:0 15px 10px #777;-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);-o-transform:rotate(-3deg);-ms-transform:rotate(-3deg);transform:rotate(-3deg);}
.effect2:after{-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-o-transform:rotate(3deg);-ms-transform:rotate(3deg);transform:rotate(3deg);right:10px;left:auto;}
.bg_cinza{height:180px;background:#cecece;}
.dicas_descricao_home p{font-size:18px;}
.dicas_descricao_home{overflow:hidden;height:76px;}
.img_dicas{position:absolute;right:0;top:10px;}
.breadcrumb{font-size:21px;background:none;padding:8px 0px;}
.breadcrumb i{border-radius:50%;border:1px solid #000;padding:5px;}
.breadcrumb i:hover,
.breadcrumb a:hover{color:#e2cd2d;cursor:pointer;}
.breadcrumb a.active{color:#000;cursor:none;}
.active1{font-size:20px;color:#000 !important;font-family:'futura__condensed';padding-left:15px !important;}
.breadcrumb a{text-decoration:none;outline:none;display:block;float:left;font-size:17px;font-family:"Lato Bold";line-height:36px;color:#000;padding:0 10px 0 24px;position:relative;}
.breadcrumb a:after{content:'';position:absolute;top:7px;right:-10px;width:20px;height:20px;transform:scale(0.707) rotate(45deg);z-index:1;box-shadow:2px -2px 0 2px rgba(0, 0, 0, 0.1),
2px -2px 0 1px rgba(0, 0, 0,1);border-radius:0 5px 0 50px;}
.breadcrumb a:last-child:after{content:none;}
.titulo_cat h5{font-size:30px;color:#192b39;font-weight:300;font-family:'Lato', sans-serif;}
.titulo_cat h5 span{font-family:"Lato Black";}
.titulo_cat_produtos h5{font-size:20px;color:#192b39;font-weight:300;font-family:'Lato', sans-serif;}
.titulo_cat_produtos h5 span{font-size:21px;font-family:"Lato Black";}
.contatos_home h1{color:#192b39;font-size:20px;font-weight:300;}
.menu_produtos_geral .list-group{margin-bottom:0px;background:#192b39;}
.menu_produtos_geral h1{font-size:20px;margin:3px 10px;color:#fff !important;font-family:"Lato Black";}
.menu_produtos_geral .list-group-item{color:#000;font-size:15px;text-decoration:none;}
.menu_produtos_geral a.list-group-item.active{color:#555;font-weight:700;text-decoration:none;background-color:#e5e5e5;border:0;}
.stylish-input-group .input-group-addon{border:1px solid #959595;border-left:0px !important;height:54px;background:#fff !important;}
.stylish-input-group .form-control{font-size:17px;color:#000;height:54px;border-radius:0px;border:1px solid #959595;border-right:0px !important;background:#fff !important;}
.barra_pesquisa .stylish-input-group .form-control{font-size:8px;color:#000;height:54px;border-radius:0px;border:1px solid #959595;border-right:0px !important;background:#fff !important;}
.stylish-input-group button{font-size:20px;border:0;background:#fff !important;}
.barra_categoria .open>.dropdown-toggle.btn-info{color:#000;background-color:#939393;border-color:#939393;}
.bootstrap-select > .dropdown-toggle,
.bootstrap-select > .dropdown-toggle:hover,
.bootstrap-select > .dropdown-toggle:focus,
.bootstrap-select > .dropdown-toggle.active,
.menu_produtos_cat .open>.dropdown-toggle.btn-info{height:40px;border-radius:0px;font-family:"Lato Black";color:#fff;border:0;outline:0;font-size:15px;background:#192b39 none repeat scroll 0% 0%;width:100%;}
.slider_prod_geral #slider{margin:0 0 12px;!important;border:18px solid #fff;}
.slider_prod_geral #carousel{margin:0 0 0px;!important;background:none;border:0;}
.slider_prod_geral #carousel li{width:125px !important;margin-right:-14px;}
.slider_prod_geral
.slider-prod{height:402px;overflow:hidden;}
.slider_prod_geral
.slider-prod-tumb li img{border:6px solid #fff;height:86px !important;width:90px !important;}
.slider_prod_geral
.flex-control-paging li a{width:0px !important;height:0px !important;}
.slider_prod_geral
.flex-direction-nav a{width:45px;height:45px !important;}
#carousel img{cursor:pointer;}
.slider-prod-tumb .flexslider .slides img{height:100%;}
#slider .slides img{height:401px;}
.slider_prod_geral h1{font-size:30px;color:#192b39;font-family:"Lato Black";}
.consulte h2,.consulte h2 span{font-size:20px;color:#192b39;}
.titulo_contatos h5{font-size:63px;color:#373435;font-family:'futura__condensed';}
.fundo_formulario input,
.fundo_formulario textarea{border:1px solid #dcdcdc;border-bottom-width:3px;border-bottom-color:#000;border-radius:0px;font-size:20px;color:#000;position:relative;z-index:9;}
.mapa{margin-top:-189px;}
.mapa_trabalhe{margin-top:-391px;}
.FormContatos .fa{z-index:999;}
.btn-formulario{padding:14px 25px;background:#192b39;color:#fff;font-size:15px;font-weight:700;border-radius:0px;-moz-box-shadow:0px 1px 4px #000000;-webkit-box-shadow:0px 1px 4px #000000;box-shadow:0px 1px 4px #000000;}
.btn-formulario:hover{background:#24384a;opacity:0.9;color:#fff;}
.unidades_contatos h1{font-size:20px;font-family:"Lato Bold";}
.scrol_empresa{overflow:hidden;height:264px;}
.scrol_empresa p{font-size:17px;}
.lista_produtos .list-group{margin-top:-10px;overflow:hidden;;height:106px;background:#ffe51d;}
.jspContainer{overflow:hidden;position:relative;height:370px;}
.jspPane{position:absolute;}
.jspVerticalBar{position:absolute;top:0;right:0;width:7px;height:100%;background:none;}
.jspDrag{background:#000;opacity:0.2;height:50px;position:relative;top:0;left:0;cursor:pointer;}
* html .jspCorner{margin:0 -3px 0 0;}
.input-lista-prod-orcamentos{width:32px;min-height:36px !important;text-align:center;background:#192b39;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size:13px;color:#fff;}
.tabela_carrinho thead th{padding:10px 5px;background:#ffe51d;}
.tabela_carrinho table{font-size:17px;color:#000;font-weight:400;}
.tabela_carrinho h4 span,.fundo_formulario h4 span{font-size:20px;color:#000;font-family:"Lato Bold";}
.tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{vertical-align:middle;padding:10px 5px;border-bottom:1px solid #192b39;}
.fa-times-circle::before{color:#ff0000;}
.titulo_orcamento h5{font-size:45px;}
.titulo_orcamento h5 span{font-size:50px;font-weight:300;color:#192b39;font-family:'Lato', sans-serif;}
.noticias_geral .img-thumbnail{padding:7px;background:#e5e5e5;border-radius:0;}
.noticias_geral1{position:relative;}
.noticias_geral1 .img-thumbnail{padding:7px;border-radius:0;}
.noticias_desc{overflow:hidden;height:63px;}
.produto-hover{left:22px;background:url(../imgs/fundo-transparente.png);width:195px;height:104px;position:absolute;top:8px;opacity:0;}
.produto-hover .fa-plus-circle{color:#fff;opacity:0.7;padding-top:20px;}
.produto-hover .fa-plus-circle:hover{color:#fff;opacity:1;padding-top:20px;}
.hover-btn-orcamento a{width:100px;height:100px;}
.meshim_widget_widgets_TitleBar .border_overlay{border-width:0;border-style:solid;border-color:#fff;}
.h4-topo h4{font-size: 14px !important;}
.h4-topo h6 {
    color: #000;
    font-weight: 700;
		font-size: 12px;
		text-align: left;
		margin-top: -5px;
		line-height: 15px;
}
